@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

*{
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", 
    Arial, sans-serif;
}
html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #0a0f14;
}
a{
    color: #c8b400;
    text-decoration: none;
}
a:hover{ text-decoration: underline }
.no-script{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.no-script img{
    width: 200px;      
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
.no-script #main-text{ font-size: 31px }
.no-script #sub-text{ 
    line-height: 1.5;
    word-wrap: break-word;
    font-size: 20px;
}

@media screen and(max-width: 1150px){
    .no-script #main-text{ font-size: 29px }
    .no-script #sub-text{ font-size: 18px }
    .no-script img{ width: 175px }
}
@media screen and (max-width: 800px){
    .no-script #main-text{ font-size: 27px }
    .no-script #sub-text{ font-size: 16px }
    .no-script img{ width: 150px }
}
@media screen and (max-width: 400px){
    .no-script #main-text{ font-size: 26px }
    .no-script #sub-text{ font-size: 15px }
    .no-script img{ width: 125px }
}