.darkOn{
    background: var(--body-color);
    transition: all 0.25s ease;
}
.circleOn{
    transform: translateX(20px);
    background: var(--circle-background);
    transition: all 0.25s ease;
}
.ghostNav{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.stickyNav{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    height: 55px;
    background: var(--title-background);
}
.stickyImg{
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
}
.stickyIcon{
    position: fixed;
    top: 20px;
    left: 5px;
    margin-top: 0;
    margin: auto;
}
.stickyHidden{
    visibility: hidden;
}
.backgroundBlur{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* @font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins/poppins-regular-webfont.woff'),
        url('assets/fonts/poppins/poppins-regular-webfont.woff2');
    font-style: normal;
    font-weight: 100;
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    --body-background: #ffffff;
    --title-background: #fafafa;
    --circle-background: #0a0f14;
    --moon-color: #ffc800;
    --title-color: #737373;
    --highlight-color: var(--moon-color);
    --p-color: #969696;
    --border-color: #dcdcdc;
    background: var(--body-background);
}
body.dark{
    --body-background: #0a0f14;
    --title-background: #0f1419;
    --circle-background: #c8b400;
    --moon-color: #32323c;
    --title-color: #c8d2dc;
    --highlight-color: var(--circle-background);
    --p-color: #8c96a0;
    --border-color: #32323c;
}
.imageView{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.5);
    animation: appear 0.5s;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    color: #ffffff;
    background: transparent;
}
.close p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close:hover{
    background: var(--border-color)
}
.image{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    height: auto;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
.ArrowLeft,
.ArrowRight{
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: 10%;
    height: 60%;
    text-align: center;
    transition: all 0.25s ease;
}
.ArrowLeft{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ArrowRight{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#leftIndex,
#rightIndex{
    display: none;
}
.arrow{
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    border: solid var(--border-color);
    border-width: 0 10px 10px 0;
    transition: all 0.25s ease;
}
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.ArrowLeft:hover,
.ArrowRight:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}
.ArrowLeft:hover > .arrow,
.ArrowRight:hover > .arrow{
    border: solid #ffffff;
    border-width: 0 10px 10px 0;
    transition: all 0.25s ease;
}
.pf-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}
.pf-desc p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
}
.container{
    min-height: 100vh;
}
.wrapper{
    padding-bottom: 90px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
nav{
    position: fixed;
    padding: 100px;
    width: 666px;
    height: 100%;
    font-size: 35px;
    background: var(--body-background);
}
nav img{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    animation: rise 1s ease-in-out 0.25s backwards;
}
nav h3{
    position: relative;
    top: 50px;
    left: 50px;
    text-align: left;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    color: var(--p-color);
    animation: rise 1s ease-in-out 0.5s backwards;
}
nav mark{
    position: relative;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: var(--highlight-color);
    background: transparent;
    animation: rise 1s ease-in-out 0.75s backwards;
}
nav p{
    position: relative;
    top: 50px;
    left: 50px;
    line-height: 50px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 100;
    color: var(--p-color);
    animation: rise 1s ease-out 1s backwards;
}
nav i{
    position: relative;
    left: 30px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    width: 38px;
    font-size: 15px;
    color: var(--title-color);
}
nav i:hover{
    color: var(--highlight-color);
}
nav .info{
    position: relative;
    top: 40px;
    padding-top: 10px;
    width: 100%;
    height: 75px;
    text-align: center;
    border-top: 2px solid var(--border-color);
}
nav .info .info-row{
    display: inline-block;
    position: absolute;
}
nav .info .info-row:first-child{
    left: 0;
}
nav .info .info-row:nth-child(2){
    position: relative;
}
nav .info .info-row:last-child{
    right: 0;
}
nav .info .info-col{
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
}
nav .info-row .info-col:first-child{
    color: var(--title-color);
    font-weight: bold;
}
nav .info-row .info-col:last-child{
    color: var(--p-color);
}
article{
    position: relative;
    padding-top: 50px;
    left: 40%;
    width: 60%;
    animation: rise 1s ease-in-out 0.25s backwards;
}
.title{
    float: left;
}
.title h3{
    position: relative;
    font-size: 25px;
    color: var(--title-color);
}
.desc{
    float: left;
    background: var(--body-background);
}
.desc h2{
    position: relative;
    text-align: left;
    font-size: 16px;
    color: var(--title-color);
}
.desc p{
    position: relative;
    width: 65%;
    line-height: 30px;
    word-wrap: break-word;
    font-size: 18px;
    color: var(--p-color);
}
.desc img{
    cursor: pointer;
    position: relative;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    height: 100px; 
}
.desc .skills,
.desc table{
    position: relative;
    width: 70%;
    height: 100%;
    border-collapse: collapse;
}
.desc table{
    margin-bottom: 50px;
}
.skills .skill-row,
.desc table tr{
    display: flex;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}
.skills .skill-row:first-child,
.desc table tr:first-child{
    margin-top: 25px;
}
.skills .skill-row:last-child,
.desc table tr:last-child{
    margin-bottom: 25px;
}
.skills .skill-col,
.desc table td{
    position: relative;
    width: 50%;
    text-align: left;
    line-height: 25px;
}
.skills .skill-col h3,
.desc table td h3{
    display: inline;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--title-color);
}
.skills .skill-col .bar,
.desc table td .bar{
    position: relative;
    width: 70%;
    height: 6px;
    background: var(--border-color);
}
.skills .skill-col .fill,
.desc table td .fill{
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background: var(--highlight-color);
    animation: barFill 0.5s ease-in;
}
.desc .school{
    position: relative;
    margin-bottom: 100px;
}
.desc .school:first-child{
    margin-top: 25px;
}
.school label[name="time"],
.school label[name="place"],
.school label[name="type"]{
    position: relative;
    text-align: left;
    line-height: 25px;
    font-size: 12px;
    color: var(--p-color);
}
.school label[name="type"]{
    line-height: 30px;
    font-size: 14px;
    color: var(--title-color);
}
.school #desc{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 35%;
    width: 25%;
    word-wrap: break-word;
    line-height: 25px;
    font-size: 15px;
}
.mode{
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 15;
    width: 45px;
    height: 25px;
    overflow: visible;
    border: 2px solid var(--p-color);
    border-radius: 20px;
    background: var(--body-background);
    animation: appear 1s ease-in-out 0.25s backwards;
    transition: all 0.25s ease;
}
.circle{
    cursor: pointer;
    display: table;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 15;
    width: 32px;
    height: 32px;
    text-align: center;
    white-space: nowrap;
    border-radius: 50%;
    background: var(--circle-background);
    transition: all 0.25s ease;
}
.circle .fas.fa-moon{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: var(--moon-color);
}
footer{
    position: relative;
    padding: 20px;
    padding-left: 100px;
    width: 100%;
    height: 90px;
    clear: both;
    border-top: 1px solid var(--border-color);
    background: var(--title-background);
}
footer span li{
    position: relative;
    list-style-type: none;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-size: 13px;
    font-weight: 100;
    color: var(--p-color);
}
footer span li strong{
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 14px;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rise{
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes barFill{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@media (max-width: 1650px){
    nav{
        padding: 50px;
    }
    nav .info{
        width: 82%;
    }
    .desc .skills,
    .desc table{
        width: 80%;
    }
    .school #desc{
        left: 40%;
        width: 30%;
    }
    footer{
        padding-left: 50px;
    }
}
@media (max-width: 1460px){
    nav{
        font-size: 30px;
        width: 600px;
    }
    nav img{
        width: 180px;
        height: 180px;
    }
    nav h3{
        top: 45px;
        left: 45px;
        line-height: 30px;
        font-size: 25px;
    }
    nav mark{
        font-size: 30px;
    }
    nav p{
        top: 45px;
        left: 45px;
        font-size: 12px;
    }
    nav i{
        left: 35px;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        width: 42px;
    }
    article{
        width: 800px;
    }
    .desc p{
        width: 70%;
    }
    .skills .skill-col .bar,
    .desc table td .bar{
        width: 75%;
        height: 5px;
    }
    .skills .skill-col .fill,
    .desc table td .fill{
        height: 5px;
    }
    .school #desc{
        width: 34%;
    }
    footer span li{
        line-height: 25px;
        font-size: 12px;
    }
    footer span li strong{
        font-size: 13px;
    }
}
@media (max-width: 1300px){
    .ArrowLeft,
    .ArrowRight,
    .arrow{
        transition: 0s;
    }
    .ArrowLeft:hover,
    .ArrowRight:hover{
        background: rgba(0, 0, 0, 0.5);
        transition: 0s;
    }
    .ArrowLeft:hover > .arrow,
    .ArrowRight:hover > .arrow{
        border: solid #ffffff;
        border-width: 0 10px 10px 0;
        transition: 0s;
    }
    article{
        left: 45%;
        width: 750px;
    }
    .title h3{
        font-size: 22px;
    }
    .desc h2{
        font-size: 14px;
    }
    .desc p{
        font-size: 16px;
    }
    .skills .skill-col h3,
    .desc table td h3{
        font-size: 15px;
    }
    .school label[name="time"],
    .school label[name="place"],
    .school label[name="type"]{
        font-size: 11px;
    }
    .school #desc{
        font-size: 13px;
    }
}
@media (max-width: 1150px){
    nav{
        position: relative;
        padding: 20px;
        padding-top: 50px;
        width: 100%;
        height: 500px;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }
    nav img{
        display: block;
        float: unset;
        margin: auto;
        width: 150px;
        height: 150px;
    }
    nav h3{
        top: 25px;
        left: 0;
        margin: auto;
        width: unset;
        text-align: center;
        font-size: 25px;
    }
    nav mark{
        font-size: 30px;
    }
    nav p{
        top: 25px;
        left: 0;
        margin: auto;
    }
    nav i{
        left: 0;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }
    nav .info{
        left: 5%;
        width: 90%;
    }
    article{
        left: 0;
        width: 100%;
    }
    .title{
        padding: 20px !important;
        height: 50px;
        text-align: left;
        line-height: 10px;
        border-bottom: 1px solid var(--border-color);
        background: var(--title-background);
    }
    .title h3{
        left: 5%;
        text-transform: uppercase;
        font-size: 18px;
    }
    .desc{
        padding: 20px;
        border-bottom: 1px solid var(--border-color);
    }
    .desc h2{
        left: 5%;
        font-size: 13px;
    }
    .desc p{
        left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
        line-height: 25px;
        font-size: 15px;
    }
    .desc img{
        left: 5%;
    }
    .desc .skills,
    .desc table{
        left: 5%;
        width: 100%;
        height: 100%;
    }
    .desc table{
        margin-bottom: 0;
    }
    .skills .skill-col .bar,
    .desc table td .bar{
        width: 80%;
    }
    .school label[name="time"],
    .school label[name="place"],
    .school label[name="type"]{
        left: 5%;
        font-size: 10px;
    }
    .school h2,
    .school label[name="time"],
    .school label[name="place"],
    .school label[name="type"]{
        top: 20px;
    }
    .school label[name="type"]{
        font-size: 12px;
    }
    .school #desc{
        left: 55%;
        width: 40%;
        font-size: 12px;
    }
    .mode{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .close{
        top: 10px;
        right: 10px;
    }
    footer{
        padding-left: 0;
        padding: 20px;
    }
    footer span li{
        left: 5%;
    }
}
@media (max-width: 550px){
    .ArrowLeft{
        top: 30%;
        height: 40%;
    }
    .ArrowRight{
        top: 30%;
        height: 40%;
    }
    .arrow{
        position: relative;
        padding: 10px;
    }
    .arrow.left{
        left: 20%;
    }
    .arrow.right{
        right: 20%;
    }
    nav{
        min-height: 650px;
        height: auto;
    }
    nav img{
        width: 100px;
        height: 100px;
    }
    nav h3{
        top: 10px;
        font-size: 20px;
        line-height: 23px;
    }
    nav p{
        top: 10px;
    }
    nav mark{
        font-size: 22px;
    }
    nav i{
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav .info{
        padding-top: 25px;
        height: auto;
    }
    nav .info .info-row{
        display: block;
        position: relative;
        padding-bottom: 25px;
        width: 100%;
    }
    nav .info .info-col{
        text-align: center;
    }
    .title h3{
        font-size: 15px;
    }
    .desc h2{
        font-size: 12px;
    }
    .desc p{
        font-size: 12px;
    }
    .skills .skill-row{
        display: initial;
        margin-bottom: 0;
    }
    .skills .skill-col{
        margin-bottom: 50px;
        width: 100%;
    }
    .skill-col:first-child{
        margin-top: 50px;
    }
    .skills .skill-col h3,
    .desc table td h3{
        font-size: 13px;
    }
    .skills .skill-col .bar{
        width: 90%;
    }
    .desc .school{
        margin-bottom: 50px;
    }
    .school label[name="time"],
    .school label[name="place"],
    .school label[name="type"]{
        left: 5%;
        line-height: 20px;
        font-size: 9px;
    }
    .school label[name="type"]{
        line-height: 20px;
        font-size: 11px;
    }
    .school #desc{
        display: block;
        position: relative;
        left: 5%;
        width: 90%;
        line-height: 20px;
        font-size: 10px;
    }
    .mode{
        top: 20px;
        width: 30px;
        height: 15px;
    }
    .circle{
        width: 22px;
        height: 22px;
    }
    .circle .fas.fa-moon{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 11px;
    }
    .circleOn{
        transform: translateX(15px);
    }
}